/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #f2f2f2;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cbd5e0;
  border-radius: 100vh;
  /* border: 3px solid #edf2f7; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a0aec0;
}

.bg-hero{
  background-image: url(/images/jumbotron1.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

bg-recidental{
  background-image: url(/images/recidential.png);
}

.swiper-button-prev {
  left: -18px;
}

.swiper-button-next,
.swiper-button-prev {
  width: 30px;
  height: 30px;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.5);
  right: 10px;
  padding: 30px;
  color: #000 !important;
  fill: black !important;
  stroke: black !important;
  border-radius: 100%;
}

.swiper-button-prev {
  width: 36px !important;
  height: 36px !important;
  background: white;
  padding: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.swiper-button-next {
  width: 36px !important;
  height: 36px !important;
  right: -18px !important;
  background: white;
  padding: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.swiper-button-next:after {
  content: "\ea6e" !important;
  font-family: "remixicon" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 24px;
}

.swiper-button-prev:after {
  content: "\ea64" !important;
  font-family: "remixicon" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 24px;
}